<div class="hero-image">
    <div class="hero-text">
        <h1>Long Distance Meetings</h1>
        <p>Spend less time planning and more time together</p>
        <form [formGroup]="myForm" (ngSubmit)="submitHandler()">
            <input type="text" formControlName="location1" placeholder="Enter Location 1...">
            <br><br>
            <input type="text" formControlName="location2" placeholder="Enter Location 2...">
            <div class="submit">
                <button mat-raised-button type="submit" [disabled]="myForm.invalid">Search</button>
            </div>
        </form>
    </div>
</div>