  mat-form-field {
      width: 100%;
      margin-bottom: 16px;
}

:host {
    text-align: center;
}

.submit {
    padding-top: 2em;
}

input {    
    height: 2em;     
    width: 40em;         
    div.mat-form-field-infix {
      padding: .3em 0;
      input.mat-input-element {
        vertical-align: top;
      }
    }
  }
  div.mat-form-field-wrapper{
    padding-bottom: 1.15em;
  }

