<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <script defer src="{% static 'midzo/theme.js' %}"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'midzo/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
    rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>MIDZO</title>

    <div class="topnav" id ="myTopnav">
        <a href="{% url 'home' %}" class="active">MIDZO</a>
        <!-- <a href="{% url 'login' %}" onclick="openLoginForm()">Login</a> -->
        <a href="javascript:void(0)" class="login-btn" onclick="openLoginForm()">Login</a>
        <a href="{% url 'signup' %}">Sign Up</a>
        <a href="">About Us</a>
        <a href="javascript:void(0);" class="icon" onclick="shortenMenu()">    
            <i class="menuButton" id="mButton">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>      
            </i>
        </a>
    </div>

</head>
    <body>
        <div class="bg">
            <div id="overlay">
                <center><h1>Long Distance Meetings</h1>
                    <p>Spend less time planning and more time together</p></center>
                <form action="/results/" method="post" id="location-form">
                    {% csrf_token %}
                    <!-- <label for="l1">Location 1</label> -->
                    <input type="text" name="loc1" placeholder="Enter first location...">
                    <!-- <label for="l2">Location 2</label> -->
                    <input type="text" name="loc2" placeholder="Enter second location...">
                    <input type="submit" value="Find">
                </form>
            </div>
        </div>

        <div class="login-popup" id="loginForm">
            <form action="/login/" class="loginForm-container" method="post">
                <h1>Login</h1>
                {% csrf_token %}
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit" class="btn">Login</button>
                <button type="submit" class="btn-cancel" onClick="closeLoginForm()">Cancel</button>
            </form>
        </div>
    </body>
</html>