
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$custom-green: (
    50 : #edf5ea,
    100 : #d2e5ca,
    200 : #b5d4a7,
    300 : #97c284,
    400 : #80b569,
    500 : #6aa84f,
    600 : #62a048,
    700 : #57973f,
    800 : #4d8d36,
    900 : #3c7d26,
    A100 : #cdffbe,
    A200 : #a6ff8b,
    A400 : #7fff58,
    A700 : #6cff3f,

    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$midzo-primary: mat-palette($custom-green);
$midzo-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$midzo-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$midzo-theme: mat-light-theme($midzo-primary, $midzo-accent, $midzo-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($midzo-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
