<p>edit-destination works!</p>
<div *ngIf="pageState" class="editDestinationForm">
  {{ dest | json }}
  <mat-card>
    <form
      [formGroup]="editDestForm"
      novalidate
      [hidden]="success"
      (ngSubmit)="submitHandler()"
    >
      <h3>Edit Your Destination Details</h3>

      <mat-form-field>
        <mat-label>Destination Name</mat-label>
        <input
          matInput
          placeholder="Bob's Kitchen"
          formControlName="name"
          maxlength="30"
        />
        <mat-error *ngIf="name.invalid">
          Must be at least four characters
        </mat-error>
      </mat-form-field>

      <ngx-intl-tel-input
        [onlyCountries]="[CountryISO.UnitedStates]"
        [maxLength]="15"
        [tooltipField]="TooltipLabel.Name"
        [phoneValidation]="true"
        [separateDialCode]="separateDialCode"
        name="phoneNumber"
        formControlName="phoneNumber"
      >
      </ngx-intl-tel-input>
      <mat-error *ngIf="phoneNumber.touched && phoneNumber.errors">
        A valid phone number is required
      </mat-error>

      <mat-form-field>
        <mat-label>Website</mat-label>
        <input
          matInput
          placeholder="https://midzo.co"
          formControlName="website"
          maxlength="50"
        />
        <mat-error *ngIf="website.invalid && website.touched">
          URL must be valid
        </mat-error>
      </mat-form-field>
      <h4>Categories</h4>
      <div *ngFor="let category of categories.controls; index as i">
        <mat-form-field>
          <mat-label>Category</mat-label>
          <input
            type="text"
            matInput
            placeholder="Food"
            [formControl]="categories.controls[i]"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions[i]"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="categories.controls[i].errors?.requireMatch"
            >Value need match available options</mat-error
          >
        </mat-form-field>
        <button
          mat-raised-button
          color="warn"
          type="button"
          disabled="{{ disableDeleteCat }}"
          (click)="deleteCategory(i)"
        >
          Delete
        </button>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="button"
        disabled="{{ disableAddCat }}"
        (click)="addCategory()"
      >
        Add Category
      </button>

      <button
        mat-raised-button
        type="submit"
        [disabled]="editDestForm.invalid"
        color="primary"
      >
        Update Destination
      </button>
      <mat-error class="server-error">{{ serverMessage }}</mat-error>
    </form>
  </mat-card>
</div>

<div *ngIf="!pageState">
  <p>Did not load</p>
</div>
