<div class="page-container" *ngIf="dest | json">
  <div class="imageSlider">
    <ng-image-slider
      [images]="imageObject"
      [imageSize]="{ width: '250px', height: '200px', space: 3 }"
      #nav
    ></ng-image-slider>
  </div>
  <mat-card class="header">
    <h1>
      <b>{{ dest.name }}</b>
    </h1>
    <p *ngIf="dest.stars">Rating: {{ dest.stars.toPrecision(2) }}</p>
    <p *ngIf="dest.reviewCount == 0">No Reviews Yet!</p>
    <p *ngIf="dest.reviewCount">{{ dest.reviewCount }} reviews</p>
    <h3>
      Category:
      <a *ngFor="let category of dest.categories; last as last">
        <a *ngIf="!last">{{ category }}, </a>
        <a *ngIf="last">{{ category }}</a>
      </a>
    </h3>
  </mat-card>
  <mat-card class="info">
    <h2><b>Business Info</b></h2>
    <p mat-body>{{ dest.address }}</p>
    <p mat-body>
      {{ dest.phoneNumber.dialCode + " " + dest.phoneNumber.number }}
    </p>
    <p mat-body>{{ dest.website }}</p>
  </mat-card>

  <div class="reviews">
    <h2 mat-subheader>Reviews</h2>
    <div class="leaveReview">
      <app-reviews [destID]="destID"></app-reviews>
    </div>
    <div *ngIf="dest.lastFiveReviews">
      <div *ngFor="let review of dest.lastFiveReviews">
        <mat-card class="review-card">
          <div>
            <img
              class="reviewProfileImage"
              [src]="review.photoURL || 'assets/default-user.svg'"
            />
          </div>
          <div>
            <mat-card-subtitle>
              <b>{{ review.displayName }}</b> -
              {{ review.stars.toPrecision(2) }} stars
            </mat-card-subtitle>
            <mat-card-content>{{ review.content }}</mat-card-content>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
